/* This Build by Hassan Sani Wednesday October 12, 2016 1:57 AM */
/* line 1, ../SASS/reset.scss */
body {
  font-family: 'Roboto', sans-serif;
  background: #f8f9fb;
  color: #000;
  width: 100%;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

/* line 10, ../SASS/reset.scss */
html, body, ul, ol, li, form, fieldset, legend {
  margin: 0;
  padding: 0;
}

/* line 15, ../SASS/reset.scss */
h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

/* line 19, ../SASS/reset.scss */
fieldset, img {
  border: 0;
}

/* line 23, ../SASS/reset.scss */
li {
  list-style: none;
}

/* line 27, ../SASS/reset.scss */
a, a:link, a:visited, a:hover, a:active {
  color: #000;
  text-decoration: none;
}

/*  Media Query Mobile device */
/* line 8, ../SASS/master.scss */
header {
  width: 100%;
  height: auto;
}

/* line 13, ../SASS/master.scss */
#main-nav {
  width: 100%;
  height: 75px;
  background-color: #e5e8f0;
  background-image: -webkit-linear-gradient(top, #cecaca, #f3f2f2);
  background-image: linear-gradient(to bottom, #cecaca, #f3f2f2);
  position: relative;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  z-index: 100;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2), inset 0 -10px 1em -1em #4e6188
  /* background:red */
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 13, ../SASS/master.scss */
  #main-nav {
    position: absolute;
    height: 50px;
    width: 100%;
    margin: auto;
  }
}
/* line 31, ../SASS/master.scss */
#main-nav span {
  display: none;
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 31, ../SASS/master.scss */
  #main-nav span {
    display: block;
    line-height: 50px;
    font-size: 12px;
    font-weight: bold;
    float: right;
    margin-right: 10px;
  }
  /* line 40, ../SASS/master.scss */
  #main-nav span a {
    padding: 15px;
    text-transform: uppercase;
  }
}
/* line 48, ../SASS/master.scss */
#main-nav .logo {
  width: 25.83333%;
  background: url("../img/BridgeIn.png") no-repeat 10px;
  font-family: 'Chonburi';
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  float: left;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  padding-left: 6.5%;
  padding-top: 25px;
  height: 48.07692px;
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 48, ../SASS/master.scss */
  #main-nav .logo {
    font-size: 0px;
    font-weight: 700;
    width: 40%;
    padding-left: 70px;
    line-height: 1px;
    background: url("../img/BridgeMB.png") no-repeat 15px 2px;
  }
  /* line 69, ../SASS/master.scss */
  #main-nav .logo a {
    position: absolute;
    width: 40%;
    height: 50px;
    background-color: transparent !important;
    top: 0;
  }
  /* line 76, ../SASS/master.scss */
  #main-nav .logo:after {
    content: 'The Bridge';
    font-size: 17px;
    font-family: "Chonburi";
  }
}
@media screen and (min-width: 811px) and (max-width: 1024px) {
  /* line 48, ../SASS/master.scss */
  #main-nav .logo {
    font-size: 0px;
    font-weight: 700;
    width: 40%;
    margin-top: 16px;
    box-sizing: border-box;
    padding: 20px 0 0 70px;
    line-height: 1px;
    background: url("../img/BridgeMB.png") no-repeat 15px 2px;
  }
  /* line 91, ../SASS/master.scss */
  #main-nav .logo a {
    position: absolute;
    width: 40%;
    height: 50px;
    background-color: transparent !important;
    top: 0;
  }
  /* line 98, ../SASS/master.scss */
  #main-nav .logo::before {
    content: 'The Bridge';
    font-size: 17px;
    font-weight: bolder;
    font-family: 'Chonburi';
  }
}
@media screen and (min-width: 701px) and (max-width: 810px) {
  /* line 48, ../SASS/master.scss */
  #main-nav .logo {
    font-size: 0px;
    width: 15%;
    padding-left: 85px;
  }
  /* line 109, ../SASS/master.scss */
  #main-nav .logo a {
    position: absolute;
    width: 40%;
    height: 50px;
    background-color: transparent !important;
    top: 0;
  }
  /* line 116, ../SASS/master.scss */
  #main-nav .logo::before {
    content: 'The Bridge';
    font-size: 17px;
    font-weight: bolder;
    font-family: 'Chonburi';
  }
}
/* line 126, ../SASS/master.scss */
#main-nav ul {
  position: relative;
  float: right;
  height: 100%;
  width: 64.66667%;
  margin-left: 10px;
  margin-right: auto;
  z-index: 1;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 126, ../SASS/master.scss */
  #main-nav ul {
    display: none;
    width: 40%;
    background-color: #dee3ec;
    z-index: 10;
    margin: 0;
    height: 700px;
  }
}
@media screen and (min-width: 701px) and (max-width: 810px) {
  /* line 126, ../SASS/master.scss */
  #main-nav ul {
    right: 0;
    width: 69%;
  }
}
@media screen and (min-width: 811px) and (max-width: 1024px) {
  /* line 126, ../SASS/master.scss */
  #main-nav ul {
    width: 57%;
  }
}
/* line 155, ../SASS/master.scss */
#main-nav ul li {
  position: relative;
  display: inline;
  width: 9.2381%;
  line-height: 75px;
  list-style: none;
  height: 100%;
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 155, ../SASS/master.scss */
  #main-nav ul li {
    display: block;
    line-height: 40px;
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    height: auto;
    padding: 15px 0;
    box-shadow: 1px 1px 5px #464646;
  }
  /* line 172, ../SASS/master.scss */
  #main-nav ul li:hover {
    box-shadow: 1px 12px 5px #464646;
  }
}
@media screen and (min-width: 701px) and (max-width: 810px) {
  /* line 155, ../SASS/master.scss */
  #main-nav ul li {
    width: 20%;
    font-size: 10px;
    font-weight: 600;
  }
}
@media screen and (min-width: 811px) and (max-width: 1024px) {
  /* line 155, ../SASS/master.scss */
  #main-nav ul li {
    right: 0;
    margin: unset;
    font-size: 12px;
  }
}
/* line 187, ../SASS/master.scss */
#main-nav ul li a {
  text-decoration: none;
  font-family: sans-serif;
  padding: 28.30189px 3%;
  font-weight: bold;
  color: currentColor;
  text-transform: uppercase;
}
@media screen and (min-width: 811px) and (max-width: 1024px) {
  /* line 187, ../SASS/master.scss */
  #main-nav ul li a {
    right: 0;
    padding: 28.30189px 2.5%;
  }
}
/* line 198, ../SASS/master.scss */
#main-nav ul li a:hover {
  position: relative;
  overflow: hidden;
  background-color: #e5e8f0;
  box-shadow: 5px 0 1px rgba(0, 0, 0, 0.2), inset 1em -10px 1em -1em #f5f6f9
  /* background:red */
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 198, ../SASS/master.scss */
  #main-nav ul li a:hover {
    box-shadow: unset;
    overflow: unset;
    background-color: unset;
  }
}
/* line 20, ../SASS/mixin.scss */
#main-nav ul:after {
  content: '';
  display: block;
  clear: both;
  padding-bottom: 80px;
}

/* line 216, ../SASS/master.scss */
.banner {
  text-align: right;
}
/* line 218, ../SASS/master.scss */
.banner fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 216, ../SASS/master.scss */
  .banner {
    top: -20px;
  }
}

/* line 228, ../SASS/master.scss */
.wrapper {
  position: relative;
  margin-top: -0px;
  padding-top: 20px;
  z-index: 2;
  box-shadow: inset 0em 2em 1.5em -1em gray;
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 228, ../SASS/master.scss */
  .wrapper {
    margin-top: -2px;
  }
}
/* line 237, ../SASS/master.scss */
.wrapper .content {
  position: relative;
  margin-top: 20px;
}

/* line 243, ../SASS/master.scss */
.about figure {
  float: right;
  width: 520px;
  height: 520px;
  border-radius: 50%;
  box-sizing: content-box;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 10px;
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 243, ../SASS/master.scss */
  .about figure {
    width: 80%;
    margin: auto;
    float: none;
    clear: both;
    position: relative;
  }
}
@media screen and (min-width: 701px) and (max-width: 810px) {
  /* line 243, ../SASS/master.scss */
  .about figure {
    width: 80%;
    float: none;
    clear: both;
    position: relative;
  }
}
@media screen and (min-width: 811px) and (max-width: 1024px) {
  /* line 243, ../SASS/master.scss */
  .about figure {
    width: 400px;
    left: 2%;
    float: right;
    position: relative;
  }
}
/* line 275, ../SASS/master.scss */
.about figure img {
  position: absolute;
  top: 2%;
  left: 2%;
  border-radius: 50%;
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 275, ../SASS/master.scss */
  .about figure img {
    width: 98%;
    height: 98%;
    top: 1%;
    left: 0.5%;
  }
}
@media screen and (min-width: 701px) and (max-width: 810px) {
  /* line 275, ../SASS/master.scss */
  .about figure img {
    width: 98%;
    height: 98%;
    top: 1%;
    left: 1%;
  }
}
@media screen and (min-width: 811px) and (max-width: 1024px) {
  /* line 275, ../SASS/master.scss */
  .about figure img {
    width: 400px;
    height: 400px;
    top: -0.1%;
    left: -0.1%;
    clear: both;
    position: relative;
  }
}
/* line 302, ../SASS/master.scss */
.about figure figcaption {
  position: absolute;
  width: 420px;
  text-align: center;
  line-height: 45px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  top: 105%;
  float: none !important;
  margin: auto !important;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 302, ../SASS/master.scss */
  .about figure figcaption {
    font-size: 10px;
    width: 100%;
  }
}
@media screen and (min-width: 701px) and (max-width: 810px) {
  /* line 302, ../SASS/master.scss */
  .about figure figcaption {
    font-size: 14px;
    width: 100%;
  }
}
@media screen and (min-width: 811px) and (max-width: 1024px) {
  /* line 302, ../SASS/master.scss */
  .about figure figcaption {
    font-size: 17px;
    width: 420px;
    margin-left: 0%;
    left: -2%;
  }
}

/* line 334, ../SASS/master.scss */
.committee {
  margin-bottom: 60px;
}
/* line 336, ../SASS/master.scss */
.committee ul {
  margin: auto;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  float: none;
  box-sizing: border-box;
  position: relative;
  clear: both;
}
/* line 20, ../SASS/mixin.scss */
.committee ul:after {
  content: '';
  display: block;
  clear: both;
  padding-bottom: 80px;
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 336, ../SASS/master.scss */
  .committee ul {
    width: 300px;
  }
}
/* line 347, ../SASS/master.scss */
.committee ul li {
  float: left;
  box-sizing: border-box;
  text-align: center;
  width: 23.75%;
  margin: 7px;
  padding: 7px;
  border-radius: 20px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 347, ../SASS/master.scss */
  .committee ul li {
    width: 90%;
    margin: 25px auto;
    padding: 0;
    float: none;
    border-radius: 10px;
  }
}
@media screen and (min-width: 701px) and (max-width: 810px) {
  /* line 347, ../SASS/master.scss */
  .committee ul li {
    width: 50%;
    margin: unset;
    border-radius: 10px;
  }
}
@media screen and (min-width: 811px) and (max-width: 1024px) {
  /* line 347, ../SASS/master.scss */
  .committee ul li {
    width: 33.33333%;
    margin: unset;
    border-radius: 10px;
  }
}
/* line 376, ../SASS/master.scss */
.committee ul img {
  width: 50%;
  margin: 20px 20%;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 376, ../SASS/master.scss */
  .committee ul img {
    float: none;
    width: 80%;
    margin: auto;
    padding: unset;
    border: 0;
  }
}
@media screen and (min-width: 701px) and (max-width: 810px) {
  /* line 376, ../SASS/master.scss */
  .committee ul img {
    float: none;
    width: 80%;
    margin: auto;
    padding: unset;
    border: 0;
  }
}
@media screen and (min-width: 811px) and (max-width: 1024px) {
  /* line 376, ../SASS/master.scss */
  .committee ul img {
    float: none;
    width: 80%;
    margin: auto;
    padding: unset;
    border: 0;
  }
}
/* line 409, ../SASS/master.scss */
.committee .positions {
  width: 100%;
  font-size: 17px;
  font-weight: bold;
  margin-top: 9px;
  text-align: center;
}
/* line 417, ../SASS/master.scss */
.committee a {
  text-decoration: none;
  color: #e5e8f0;
  font-weight: bold;
}
/* line 421, ../SASS/master.scss */
.committee a:hover {
  color: #f0ece5;
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 334, ../SASS/master.scss */
  .committee {
    margin-bottom: 10px;
    padding-bottom: -20px;
  }
}

/* line 433, ../SASS/master.scss */
.gallery {
  margin-bottom: 60px;
}
/* line 435, ../SASS/master.scss */
.gallery .bridgeGL {
  width: 80%;
  margin: 40px auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  padding-left: 100px;
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 435, ../SASS/master.scss */
  .gallery .bridgeGL {
    padding: unset;
  }
}
/* line 444, ../SASS/master.scss */
.gallery .bridgeGL li {
  display: inline;
  margin-left: 5px;
  line-height: 120px;
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 444, ../SASS/master.scss */
  .gallery .bridgeGL li {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    line-height: unset;
  }
}
/* line 455, ../SASS/master.scss */
.gallery .bridgeGL li:hover {
  box-shadow: 1px 12px 5px #464646;
  border-radius: 15px;
}
/* line 459, ../SASS/master.scss */
.gallery .bridgeGL li img {
  position: relative;
  left: -3.5px;
  border: 5px solid transparent;
  border-radius: 15px;
  float: none;
  width: 22.22222%;
  margin-left: 10px;
  margin-top: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 459, ../SASS/master.scss */
  .gallery .bridgeGL li img {
    width: 90%;
    margin-left: 5.5%;
    margin-top: 30px;
  }
}

/* line 478, ../SASS/master.scss */
.contact {
  height: auto;
}
/* line 480, ../SASS/master.scss */
.contact p {
  text-align: center;
  width: 100%;
  position: relative;
  clear: both;
  margin: -70px 0 100px 0;
}
/* line 488, ../SASS/master.scss */
.contact #map {
  position: relative;
  height: 400px;
  width: 100%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

/* line 497, ../SASS/master.scss */
section {
  position: relative;
  width: 95%;
  box-sizing: border-box;
  margin: 70px auto;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 1em -10px 1em -1em #f5f6f9;
  /* background:red */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 1em -10px 1em -1em #f5f6f9
  /* background:red */
}
/* line 58, ../SASS/mixin.scss */
section .about {
  background-color: transparent;
  font-family: sans-serif;
  font-size: 14px;
  color: black;
}
/* line 65, ../SASS/mixin.scss */
section .title {
  position: relative;
  width: 50%;
  height: 45px;
  color: #67593b;
  font-family: sans-serif;
  text-align: center;
  font-size: 25.2px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px auto 40px auto;
  padding-top: 15px;
  cursor: default;
  border-radius: 14px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 65, ../SASS/mixin.scss */
  section .title {
    width: 80%;
    font-size: 18px;
    margin: 20px auto;
    padding-top: 25px;
  }
}
@media screen and (min-width: 701px) and (max-width: 810px) {
  /* line 65, ../SASS/mixin.scss */
  section .title {
    width: 50%;
    font-size: 19.8px;
    margin: 20px auto;
    padding-top: 25px;
  }
}
/* line 96, ../SASS/mixin.scss */
section p {
  position: relative;
  top: 70px;
  width: 45%;
  float: left;
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 96, ../SASS/mixin.scss */
  section p {
    width: 90%;
    margin: 50px auto;
    float: none;
    clear: both;
    text-align: justify;
  }
}
@media screen and (min-width: 701px) and (max-width: 810px) {
  /* line 96, ../SASS/mixin.scss */
  section p {
    width: 90%;
    margin: 50px auto;
    float: none;
    clear: both;
    text-align: justify;
  }
}
@media screen and (min-width: 811px) and (max-width: 1024px) {
  /* line 96, ../SASS/mixin.scss */
  section p {
    width: 90%;
    margin: auto;
    float: none;
    text-align: justify;
  }
}
/* line 20, ../SASS/mixin.scss */
section:after {
  content: '';
  display: block;
  clear: both;
  padding-bottom: 80px;
}

/* line 502, ../SASS/master.scss */
#div1 p {
  display: block;
  width: 100%;
  height: 150px;
  margin: 20px 0;
}

/* line 509, ../SASS/master.scss */
.register {
  position: relative;
  width: 91%;
  background-color: transparent;
  margin: auto;
  border-radius: 25px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
/* line 20, ../SASS/mixin.scss */
.register:after {
  content: '';
  display: block;
  clear: both;
  padding-bottom: 80px;
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 509, ../SASS/master.scss */
  .register {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
  }
}
@media screen and (min-width: 811px) and (max-width: 1024px) {
  /* line 509, ../SASS/master.scss */
  .register {
    width: 100%;
  }
}
/* line 529, ../SASS/master.scss */
.register p {
  width: 70%;
  margin: -10px auto;
  clear: both;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 529, ../SASS/master.scss */
  .register p {
    visibility: visible;
    z-index: 10;
  }
}
/* line 542, ../SASS/master.scss */
.register .formL {
  position: relative;
  width: 45%;
  float: left;
  height: 500px;
  margin: 10px 2% -20px 2%;
  padding-top: 20px;
  padding-left: 20px;
}
/* line 555, ../SASS/master.scss */
.register .formL #infos {
  position: relative;
  top: 319px;
  left: 150px;
  clear: both;
  font-variant: small-caps;
  background-color: #cecece;
  padding: 7px;
  line-height: 17px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: default;
  box-shadow: 0px 0px 1px black;
}
/* line 570, ../SASS/master.scss */
.register .formL #infos:hover, .register .formL #infos:active {
  box-shadow: 0px 0px 15px black;
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 542, ../SASS/master.scss */
  .register .formL {
    width: 100%;
    margin: auto;
    padding-left: 10px;
    float: none;
    border-radius: 15px;
  }
}
@media screen and (min-width: 811px) and (max-width: 1024px) {
  /* line 542, ../SASS/master.scss */
  .register .formL {
    width: 60%;
  }
}
/* line 587, ../SASS/master.scss */
.register .formL #Preview {
  position: relative;
  clear: both;
  float: left;
  margin: 20px auto;
  left: 40px;
  border-radius: 10%;
  box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 587, ../SASS/master.scss */
  .register .formL #Preview {
    float: none;
    margin: auto;
  }
}
/* line 603, ../SASS/master.scss */
.register .formR {
  position: absolute;
  top: 20px;
  left: 550px;
  z-index: 10;
  width: 45%;
  float: right;
  height: 400px;
  margin: 20px 3%;
  border-radius: 25px;
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 603, ../SASS/master.scss */
  .register .formR {
    position: relative;
    display: none;
    top: -500px;
    left: 0;
    width: 100%;
    margin: auto;
    float: none;
    border-radius: 15px;
  }
}
@media screen and (min-width: 701px) and (max-width: 810px) {
  /* line 603, ../SASS/master.scss */
  .register .formR {
    display: none;
    top: -500px;
    width: 100%;
    margin: auto;
    height: 200px;
    float: none;
    border-radius: 15px;
  }
}
@media screen and (min-width: 811px) and (max-width: 1024px) {
  /* line 603, ../SASS/master.scss */
  .register .formR {
    width: 37%;
    border: 2px black solid;
    visibility: visible;
  }
}
/* line 646, ../SASS/master.scss */
.register .formR #theerror {
  position: relative;
  clear: both;
  top: 20px;
  height: auto;
  width: 80%;
  margin: auto;
  padding: 20px;
  text-align: center;
  height: auto;
}
/* line 656, ../SASS/master.scss */
.register .formR #theerror p {
  position: relative;
  margin: 0 auto;
  clear: both;
  width: 100% auto;
  text-align: center;
  line-height: unset;
  top: unset;
}
/* line 667, ../SASS/master.scss */
.register .formcont {
  position: relative;
  clear: both;
  margin: auto;
  width: 100%;
  height: 400px;
  top: 10px;
  background-color: #f8f9fb !important;
  z-index: 10;
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 667, ../SASS/master.scss */
  .register .formcont {
    height: auto;
  }
}
@media screen and (min-width: 701px) and (max-width: 810px) {
  /* line 667, ../SASS/master.scss */
  .register .formcont {
    height: auto;
  }
}
@media screen and (min-width: 811px) and (max-width: 1024px) {
  /* line 667, ../SASS/master.scss */
  .register .formcont {
    height: auto;
  }
}
/* line 691, ../SASS/master.scss */
.register .formcont #user-result, .register .formcont #user-email, .register .formcont #user-result2 {
  position: relative;
  top: 3px;
  left: 10px;
  float: left;
  font-variant: small-caps;
  padding: 7px;
  line-height: 17px;
  font-size: 12px;
  height: 30px;
}
/* line 702, ../SASS/master.scss */
.register .formcont fieldset {
  width: 42%;
  float: left;
  margin-left: 20px;
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 702, ../SASS/master.scss */
  .register .formcont fieldset {
    display: block;
    float: left;
    width: 100%;
    clear: both;
    margin: auto;
  }
}
@media screen and (min-width: 811px) and (max-width: 1024px) {
  /* line 702, ../SASS/master.scss */
  .register .formcont fieldset {
    width: 40%;
  }
}
/* line 716, ../SASS/master.scss */
.register .formcont fieldset input {
  float: left;
  clear: right;
}
/* line 720, ../SASS/master.scss */
.register .formcont fieldset label {
  float: left;
  clear: left;
  line-height: 20px;
  width: 100px;
}
/* line 727, ../SASS/master.scss */
.register .formcont .rightit {
  position: relative;
  padding-left: 120px;
  box-sizing: padding-box;
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 727, ../SASS/master.scss */
  .register .formcont .rightit {
    padding: 0;
  }
}
@media screen and (min-width: 701px) and (max-width: 810px) {
  /* line 727, ../SASS/master.scss */
  .register .formcont .rightit {
    padding: 0;
  }
}
/* line 739, ../SASS/master.scss */
.register form {
  position: relative;
  top: 10px;
  width: 100%;
  margin: auto;
  padding-top: 20px;
}
/* line 745, ../SASS/master.scss */
.register form label {
  position: relative;
  cursor: default;
  float: left;
  width: 100px;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0px;
  margin-top: -2px;
  margin-bottom: 20px;
  padding: 9px 0px 7px 0px;
  text-transform: uppercase;
  clear: left;
  border-top: 2px solid rgba(207, 207, 207, 0.8);
  border-left: 2px solid rgba(207, 207, 207, 0.8);
  border-bottom: 2px solid rgba(207, 207, 207, 0.8);
  border-top-left-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
  background-image: -webkit-linear-gradient(to right, #cecece, #efefef);
  background-image: -webkit-linear-gradient(left, #cecece, #efefef);
  background-image: linear-gradient(to right, #cecece, #efefef);
  box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 745, ../SASS/master.scss */
  .register form label {
    font-size: 10px;
    font-family: sans-serif;
    font-weight: 900;
    color: #000;
    width: 75px;
    line-height: 22px;
    margin: 9px 0;
  }
}
/* line 782, ../SASS/master.scss */
.register form input {
  position: relative;
  font-family: serif;
  font-size: 12px;
  font-weight: 600;
  float: left;
  padding-top: 9px;
  padding-bottom: 7px;
  padding-left: 8px;
  top: -2px;
  clear: right;
  background-color: rgba(207, 207, 207, 0.5);
  border-top: 2px solid rgba(207, 207, 207, 0.8);
  border-right: 2px solid rgba(207, 207, 207, 0.8);
  border-bottom: 2px solid rgba(207, 207, 207, 0.8);
  border-left: 0px;
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.2), inset -2px -2px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.2), inset -2px -2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.2), inset -2px -2px 5px rgba(0, 0, 0, 0.2);
}
/* line 803, ../SASS/master.scss */
.register form input[type="text"] {
  text-align: left;
  width: 200px;
  letter-spacing: 0px;
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 803, ../SASS/master.scss */
  .register form input[type="text"] {
    width: 180px;
  }
}
/* line 811, ../SASS/master.scss */
.register form input[type="submit"] {
  position: relative;
  left: -150px;
  height: 55px;
  width: auto;
  padding: 10px;
  line-height: 25px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  border: 0;
  border-top-left-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
  text-transform: uppercase;
  background-color: #fefefe;
  background: filter-gradient(#fefefe, #fefefe, horizontal);
  background-image: -webkit-linear-gradient(top, #fefefe 0%, #cecece 23%, #cecece 79%, #fefefe 100%);
  background-image: linear-gradient(top, #fefefe 0%, #cecece 23%, #cecece 79%, #fefefe 100%);
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 811, ../SASS/master.scss */
  .register form input[type="submit"] {
    left: 0;
  }
}
/* line 832, ../SASS/master.scss */
.register form input[type="email"] {
  text-align: left;
  width: 200px;
  letter-spacing: 0px;
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 832, ../SASS/master.scss */
  .register form input[type="email"] {
    width: 180px;
  }
}
/* line 840, ../SASS/master.scss */
.register form input[type="file"] {
  overflow: hidden;
  position: relative;
  z-index: -1;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}
/* line 848, ../SASS/master.scss */
.register form input:hover {
  border: 0;
}
/* line 851, ../SASS/master.scss */
.register form input:active {
  border: 0;
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 782, ../SASS/master.scss */
  .register form input {
    font-size: 12px;
    padding: 11px 0px 9px 0px;
    margin: 12px 0;
  }
}
/* line 860, ../SASS/master.scss */
.register form button {
  height: 3px;
}
/* line 863, ../SASS/master.scss */
.register form textarea {
  position: relative;
  float: left;
  margin-top: -2px;
  margin-bottom: 10px;
  padding: 1px;
  width: 220px;
  height: 80px;
  background-color: rgba(207, 207, 207, 0.5);
  border-top: 2px solid rgba(207, 207, 207, 0.8);
  border-right: 2px solid rgba(207, 207, 207, 0.8);
  border-bottom: 2px solid rgba(207, 207, 207, 0.8);
  border-left: 0px;
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.2), inset -2px -2px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.2), inset -2px -2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.2), inset -2px -2px 5px rgba(0, 0, 0, 0.2);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* line 885, ../SASS/master.scss */
.register form select {
  position: relative;
  font-family: serif;
  width: 120px;
  font-size: 12px;
  font-weight: 600;
  float: left;
  padding-top: 9px;
  padding-bottom: 7px;
  padding-left: 8px;
  top: -2px;
  clear: right;
  background-color: rgba(207, 207, 207, 0.5);
  background: url("../img/arrow-down-black.png") 90%/15% no-repeat #eee;
  border-top: 2px solid rgba(207, 207, 207, 0.8);
  border-right: 2px solid rgba(207, 207, 207, 0.8);
  border-bottom: 2px solid rgba(207, 207, 207, 0.8);
  border-left: 0px;
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.2), inset -2px -2px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.2), inset -2px -2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.2), inset -2px -2px 5px rgba(0, 0, 0, 0.2);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* line 912, ../SASS/master.scss */
.register form fieldset {
  width: 100%;
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 915, ../SASS/master.scss */
  .register form fieldset span {
    float: left;
    clear: both;
  }
}
/* line 920, ../SASS/master.scss */
.register form fieldset .bd {
  width: 70px;
  margin: 0;
}
/* line 924, ../SASS/master.scss */
.register form fieldset select {
  float: left;
  padding-top: 11px;
  padding-bottom: 12px;
  margin-top: 2px;
  padding-left: 8px;
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 924, ../SASS/master.scss */
  .register form fieldset select {
    float: left;
    clear: both;
  }
}
/* line 935, ../SASS/master.scss */
.register form fieldset label {
  width: 50px;
  font-size: 10px;
  clear: none;
  float: left;
  margin-left: 10px;
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 935, ../SASS/master.scss */
  .register form fieldset label {
    float: left;
    clear: both;
  }
}
/* line 946, ../SASS/master.scss */
.register form fieldset .aging {
  line-height: 25px;
}
/* line 949, ../SASS/master.scss */
.register form fieldset input {
  width: 80px;
  line-height: 25px;
  height: 25px;
  float: left;
  clear: none;
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 949, ../SASS/master.scss */
  .register form fieldset input {
    float: none;
    clear: both;
  }
}
/* line 961, ../SASS/master.scss */
.register form .pslb {
  cursor: pointer;
  width: auto;
  left: 0;
  line-height: 0;
  margin: auto;
  padding: 0;
  background: transparent;
  border-radius: unset;
  border: 0;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}

/* line 978, ../SASS/master.scss */
.mobileReg {
  position: relative;
}
/* line 980, ../SASS/master.scss */
.mobileReg #theerror {
  position: relative;
  clear: both;
  top: 20px;
  height: auto;
  width: 80%;
  margin: auto;
  padding: 20px;
  text-align: center;
  height: auto;
}
/* line 990, ../SASS/master.scss */
.mobileReg #theerror p {
  position: relative;
  margin: 0 auto;
  clear: both;
  width: 100% auto;
  text-align: center;
  line-height: unset;
  top: unset;
}
/* line 1001, ../SASS/master.scss */
.mobileReg form {
  width: 100%;
}
/* line 1003, ../SASS/master.scss */
.mobileReg form #Preview {
  position: relative;
  clear: both;
  margin: 20px auto;
  margin-left: -20px;
  left: 10%;
  border-radius: 50%;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.9);
}
/* line 1014, ../SASS/master.scss */
.mobileReg form #user-result {
  position: relative;
  top: 32px;
  left: 10px;
  float: left;
  font-variant: small-caps;
  padding: 7px;
  line-height: 17px;
  font-size: 12px;
  height: 30px;
}
/* line 1025, ../SASS/master.scss */
.mobileReg form #user-result2 {
  position: relative;
  top: 32px;
  left: 10px;
  float: left;
  font-variant: small-caps;
  padding: 7px;
  line-height: 17px;
  font-size: 12px;
  height: 30px;
}
/* line 1036, ../SASS/master.scss */
.mobileReg form #user-email {
  position: relative;
  top: 32px;
  left: 10px;
  float: left;
  font-variant: small-caps;
  padding: 7px;
  line-height: 17px;
  font-size: 12px;
  height: 30px;
}
/* line 1047, ../SASS/master.scss */
.mobileReg form #infos {
  position: relative;
  top: 32px;
  left: 10px;
  float: left;
  font-variant: small-caps;
  background-color: #cecece;
  padding: 7px;
  line-height: 17px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: default;
  box-shadow: 0px 0px 1px black;
}
/* line 1061, ../SASS/master.scss */
.mobileReg form #infos:hover, .mobileReg form #infos:active {
  box-shadow: 0px 0px 15px black;
}
/* line 1065, ../SASS/master.scss */
.mobileReg form input {
  width: 100%;
  float: left;
  clear: right;
  height: 40px;
  line-height: 32px;
  font-size: 15px;
  margin: 5px 0;
  border-radius: 10px;
  padding: 5px 4px;
}
/* line 1075, ../SASS/master.scss */
.mobileReg form input[type="file"] {
  overflow: hidden;
  position: relative;
  z-index: -1;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}
/* line 1083, ../SASS/master.scss */
.mobileReg form input[type="submit"] {
  width: 60%;
  top: 10px;
  float: none;
  clear: both;
  background-image: -webkit-linear-gradient(top, #cecaca, #f3f2f2);
  background-image: linear-gradient(to bottom, #cecaca, #f3f2f2);
  margin: -10px auto;
  font-size: 18px;
  font-weight: bold;
  font-family: Helvetica;
  font-variant: small-caps;
  height: 50px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);
}
/* line 1099, ../SASS/master.scss */
.mobileReg form input[type="text"], .mobileReg form input[type="email"] {
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
}
/* line 1107, ../SASS/master.scss */
.mobileReg form select {
  float: left;
  clear: both;
  margin: 5px 0;
  width: 100%;
  padding: 5px 4px;
  font-size: 15px;
  border-radius: 10px;
  height: 40px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
}
/* line 1120, ../SASS/master.scss */
.mobileReg form textarea {
  float: left;
  clear: both;
  margin: 5px 0;
  width: 100%;
  padding: 5px 4px;
  font-size: 15px;
  border-radius: 10px;
  height: 60px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
}
/* line 1133, ../SASS/master.scss */
.mobileReg form label {
  float: left;
  clear: both;
  padding: 10px 10px;
  border-radius: 10px;
  margin: 30px 5px 1px 0;
  color: #001122;
  background-color: #e5e8f0;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);
}
/* line 1149, ../SASS/master.scss */
.mobileReg form .pslb {
  background-color: transparent;
  box-shadow: none;
}

/* line 1157, ../SASS/master.scss */
footer {
  width: 100%;
  height: 220px;
  background-color: #e5e8ef;
  position: relative;
  box-shadow: 0 -17px 11px -5px rgba(0, 0, 0, 0.75), inset 0 27px 21px -10px #706c70;
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 1157, ../SASS/master.scss */
  footer {
    height: 160px;
  }
}
/* line 1169, ../SASS/master.scss */
footer .content {
  margin: auto;
  width: 100%;
  position: relative;
}
/* line 1173, ../SASS/master.scss */
footer .content ul {
  width: 40%;
  text-align: center;
  margin: auto;
  padding-top: 10px;
  position: relative;
  top: 70px;
  display: block;
  border-radius: 15px;
  background-color: #f5f6f9;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 1173, ../SASS/master.scss */
  footer .content ul {
    top: 40px;
    width: 85%;
  }
}
/* line 1191, ../SASS/master.scss */
footer .content li {
  width: 33.33333%;
  display: inline;
  line-height: 40px;
  margin: 8%;
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 1191, ../SASS/master.scss */
  footer .content li {
    width: 100% / 3;
  }
  /* line 1198, ../SASS/master.scss */
  footer .content li img {
    width: 10%;
  }
}
/* line 1205, ../SASS/master.scss */
footer .content .below {
  width: 100%;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  top: 80px;
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 1205, ../SASS/master.scss */
  footer .content .below {
    top: 50px;
  }
}
/* line 1213, ../SASS/master.scss */
footer .content .below p {
  width: 80%;
  text-align: center;
  text-shadow: 3px 1px 0 #ccc;
  font-size: 15px;
  margin: 0px auto 20px auto;
}
@media screen and (min-width: 200px) and (max-width: 700px) {
  /* line 1213, ../SASS/master.scss */
  footer .content .below p {
    font-size: 12px;
  }
}
/* line 1222, ../SASS/master.scss */
footer .content .below p span {
  text-transform: uppercase;
  font-weight: bold;
}

/*# sourceMappingURL=master.css.map */